@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bevan:ital@0;1&family=Outfit:wght@100..900&display=swap");

:root {
  --font-outfit: "Outfit";
  --night-blue-body-bg: #141c2f;
  --dark-blue-content-bg: #1f2a48;
  --light-blue: #0179fc;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-outfit);
  background-color: var(--night-blue-body-bg);
}

.main {
  height: 100vh;
  max-width: 1000px;
  width: 60%;
  margin: 0 auto;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar .theme__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar .theme__toggle p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.search {
  width: 100%;
  background-color: var(--dark-blue-content-bg);
  padding: 0.5rem 0.5rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search .search__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search .search__icon {
  width: 2rem;
}

.search input {
  background-color: var(--dark-blue-content-bg);
  color: var(--white);
  border: none;
  outline: none;
  font-family: var(--font-outfit);
}

.search input::placeholder {
  color: var(--white);
  font-weight: 200;
}

.search button {
  background-color: var(--light-blue);
  border: 0;
  border-radius: 12px;
  width: 12%;
  padding: 1rem;
  color: var(--white);
  font-family: var(--font-outfit);
}

.infos {
  width: 100%;
  background-color: var(--dark-blue-content-bg);
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.infos picture {
  width: 20%;
}

.infos picture img {
  border-radius: 100%;
}

.infos .text {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.infos .text .personal__infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infos .text .personal__infos .name p {
  color: #3966cd;
}

.infos .text .personal__infos .date {
  font-size: 1.2rem;
  font-weight: 300;
}

.infos .text .bio {
  font-size: 1.2rem;
  font-weight: 200;
}

.infos .text .repos__follow {
  background-color: var(--night-blue-body-bg);
  border-radius: 12px;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infos .text .repos__follow .rf__info h3 {
  font-weight: 200;
  font-size: 95%;
}

.infos .text .repos__follow .rf__info p {
  font-size: 115%;
}

.infos .text .location__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.infos .text .location__links .ll__info {
  display: flex;
  gap: 1rem;
}

.infos .text .location__links .ll__info img {
  color: var(--white);
}

.infos .text .location__links .ll__info a {
  text-decoration: none;
  color: var(--white);
  font-weight: 300;
}

.infos .text .location__links .ll__info p {
  color: var(--white);
}
